#wavepackets-guide{
  display: block;
}

#wavepackets-windows-guide{
  border-left-width: 0px;
  border-right-width: 0px;  
  border-top-width: 0px;
  border-bottom-width: 2px;
  border-color: lightgrey;
  border-style: solid; 
}

#wp-windows-guide-content{
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.4s linear;
}

#wavepackets-guide #windows-question{
  cursor: pointer; 
}  


#wavepackets-guide #connect-diagrams{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap:4.5%;
  height: min(300px, 40vw);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#wavepackets-guide .diagram-container{
  padding-top:20px;
  padding-bottom:50px;
  width: 300px;
  max-width: 100%;
}  

#wavepackets-guide .screenshot {
  width: 500px;
	height: 100%;
  max-width: 90vw;
  object-fit: contain;
}

#wavepackets-guide .screenshot-container{
  padding-top:20px;
  padding-bottom:50px;
  width: 300px;
  max-width: 100%;
}  

#wavepackets-guide .diagram {
  width: 100%;
	height: 100%;
  object-fit: contain;
}

#wavepackets-guide .firmware-tool-link {
  color:hsl(172, 72%, 33%); /* Link color */
  text-decoration: none; /* Underline text */
  cursor: pointer; 
}

